extends ../layout

block content
    p.
      #{title}
    p.
      #{qty}
    // form(action="/books/new" method="post")
    //   input(id="title" type="text", placeholder="title" name="title")
    //   input(id="qty" type="number", placeholder="quantity" name="qty")
