extends ../layout

block content
    h1.
         #{title}
    ul
        - each book, i in books
            li
                = book.title
                br
                = book.qty
                br
                a(href='/books/#{book._id}/edit') Edit
                br
                a(href='/books/#{book._id}') Show
                br
