extends ../layout

block content
    h1.
         #{title}
    ul
        - each book, i in books
            li
                = book.title
                br
                = book.qty
                br
                form(action='/books/#{book._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                              input(type='hidden',value='DELETE',name='_method')
                              button(type='submit').
                                  Delete
                a(href='/books/#{book._id}/edit') Edit
                br
                a(href='/books/#{book._id}') Show
                br
