extends ../layout

block content
    h1.
         #{title}
    ul
        - each book, i in books
            li
                = book.title
                = book.qty
                = book._id
                form(action='/books/#{book._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/books/#{book._id}/edit') Edit
                p
                    a(href='/books/#{book._id}') Show
